<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Редактирование добавок</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/tableStyle.css">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Админ-панель</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">На главную</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order}">Список заказов </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category}">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/food}">Еда </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/additionals}">Добавки<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
<!-- partial:index.partial.html -->
<div class="table-style">
    <div class="header">Добавки</div>
    <table cellspacing="0">
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Изображение</th>
        </tr>
        <tr>
        <tr th:each="add: ${additionalList}">
            <td th:text="${add.name}"> TEST</td>
            <td th:text="${add.cost}">TEST</td>
            <td><img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(add.image)}"></td>
            <td>
                <form th:action="@{/additionals/edit/{id}(id=${add.id})}" method="get">
                    <button class="btn btn-primary" type="submit" value="Submit">Редактировать</button>
                </form>
                <form th:action="@{/additionals/remove/{id}(id=${add.id})}" method="post">
                    <button class="btn btn-danger" type="submit" value="Submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tr>
    </table>
    <form th:action="@{/additionals/add}" method="get">
        <button class="btn btn-success" type="submit" value="Submit">Добавить новую</button>
    </form>
</div>

<!-- partial -->

</body>
</html>
