<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza House| WEBSHOP</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="./css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="./css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="./css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>
<style>
input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
    width: 0.65em;
  height: 0.65em;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

</style>
</head>
<body>
<!-- Trigger/Open The Modal -->
<div th:each="foodMod:${foodModelList}" th:attr="id=Modal+${foodMod.id}" class="modal">
    <div class="modal-content">
        <span th:onclick="closeModal([[${foodMod.id}]])" class="close">&times;</span>
        <form method="POST" th:action="@{/order/addToCard/${foodMod.id}" th:object="${currentOrderedFood}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product__details__pic">
                            <div class="product__details__pic__item">

                                <img class="product__details__pic__item"
                                     th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(foodMod.image)}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product__details__text">
                            <h3 th:text="${foodMod.name}">Null name</h3>
                            <div th:text="${foodMod.cost}+T" class="product__details__price">0 Price</div>
                            <p th:text="${foodMod.description}">Null desc</p>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="container">
                    <div class="row featured__filter">
                        <div th:each="add:${foodMod.availableAdditionalList}" class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="${imgUtil.getImgData(foodMod.image)}">
                                    <div class="custom-control custom-checkbox image-checkbox">
                                        <input type="checkbox" class="custom-control-input" th:field="*{additionalListId}" th:value="${add.id}"
                                               th:attr="id=Modal+${foodMod.id}+${add.id} ">
                                        <label class="custom-control-label" th:attr="for=Modal+${foodMod.id}+${add.id}">
                                            <img class='featured__item__pic set-bg' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(add.image)}">
                                        </label>
                                    </div>
                                    <ul class="featured__item__pic__hover">
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#" th:text="${add.name}">Crab Pool Security</a></h6>
                                    <h5 th:text="${add.cost}+T">$30.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="primary-btn" name="submit">Добавить в корзину</button>
        </form>
    </div>
</div>
<script>
function openModal(id)
{
var modal = document.getElementById("Modal"+id);
  modal.style.display = "block";
}
function closeModal(id)
{
var modal = document.getElementById("Modal"+id);
modal.style.display="none"
}
// When the user clicks on <span> (x), close the modal


window.onclick = function(event) {
  if (event.target.id.includes("Modal")) {
  var modal = document.getElementById(event.target.id)
    modal.style.display = "none"
  }
}

</script>


<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="./"><img src="./img/logo.png" alt=""></a>
            </div>
            <div class="header__cart">
                <div class="header__top__right__auth">
                    <div sec:authorize="isAnonymous">
                        <a th:href="@{/login}"><i class="fa fa-user"></i> Login</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <span sec:authentication="name">Bob</span>
                        <a th:href="@{/category}"><i class="fa fa-user"></i> Config</a>
                        <a th:href="@{/logout}">
                            <i class="fa fa-user">
                            </i> Logout</a>
                    </div>
                </div>
                <div class="header__cart__price">Корзина: <span>0 T</span></div>
                <ul>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                </ul>

            </div>
        </div>

    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Категории</span>
                    </div>
                    <ul>
                        <li th:each="category:${categoryList}">
                            <a th:href="@{/(catId=${category.id})}" th:text="*{category.name}">Fresh Meat</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="container">
                    <div class="row featured__filter">
                        <div th:each="food:${foodModelList}" class="col-lg-3 col-md-4 col-sm-6">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="${imgUtil.getImgData(food.image)}">
                                    <img class='featured__item__pic set-bg' th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(food.image)}">
                                    <ul class="featured__item__pic__hover">
                                        <li><a th:onclick="openModal([[${food.id}]])" id="myBtn"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#" th:text="${food.name}">Crab Pool Security</a></h6>
                                    <h5 th:text="${food.cost}+T">$30.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Заказывайте по номеру</h4>
                    <p>+8-800-535-3535</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Наш адресс</h4>
                    <p>Г. Нурсултан Ул. Нурсултана</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Время работы</h4>
                    <p>С 12:00 До 23:00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>housepizza@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Js Plugins -->
<script src="./js/jquery-3.3.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/jquery.nice-select.min.js"></script>
<script src="./js/jquery-ui.min.js"></script>
<script src="./js/jquery.slicknav.js"></script>
<script src="./js/mixitup.min.js"></script>
<script src="./js/owl.carousel.min.js"></script>
<script src="./js/main.js"></script>


</body>

</html>